/**
 * @author: wenhao.huang
 * @date:   2017/12/23
 */
html {
  font-size: 50px;
}

body {
  color: #333;
  font-size: 0.28rem;
  line-height: 1.42857143;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.disabled {
  user-select: none;
  pointer-events: none;
}

.img-responsive {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
