.hw-tabs {
    overflow: hidden;
    user-select: none;

    .item {
        position: relative;
        padding: 8px 30px 8px 48px;
        background-color: #c5e0fc;
        color: #2d8cf0;
        cursor: pointer;

        &:after {
            position: absolute;
            top: 0;
            right: -18px;
            z-index: 5;
            content: '';
            border-left: transparent solid 18px;
            border-right: transparent solid 18px;
            border-bottom: #c5e0fc solid 36px;
        }

        &.active {
            background-color: #2d8cf0;
            color: #fff;
            cursor: default;

            &:after {
                border-bottom-color: #2d8cf0;
            }
        }
    }
}

.layout-aside {
    position: relative;
    padding-left: $menuWidthNav;
    user-select: none;

    .item-slider {
        position: absolute;
        content: '';
        z-index: 3;
        left: 0;
        top: 0;
        width: 4px;
        height: $menuWidthNav;
        background-color: $menuHover;
        transition: all 0.3s ease-out 0s;
    }

    .layout-menu-nav,
    .layout-menu-sub {
        height: 100%;
    }

    .layout-menu-nav {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        width: $menuWidthNav;
        color: #fff;
        background-color: $menuBg;

        .menu-nav {
            position: relative;
            height: $menuWidthNav;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;

            .fa {
                font-size: 0.6rem;
                margin-bottom: 0.3rem;
            }

            &:hover,
            &.active {
                color: $menuHover;
            }

            &.active {
                background-color: $menuBgHover;
            }
        }
    }

    .layout-menu-sub {
        position: relative;
        padding-top: 0.96rem;
        border-right: 1px solid #ecedee;
        background-color: #ecedee;

        .title-sub {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            right: 0;
            text-align: center;
            height: 0.96rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 0.32rem;
            background-color: $menuBg;
        }
    }

    .el-scrollbar {
        height: 100%;
        overflow-y: auto;

        .el-scrollbar__wrap {
            overflow-x: hidden;
        }

        .el-scrollbar__view {
            position: relative;
        }
    }
}

.menu-sub {

    .nav-title,
    .nav-item {
        display: flex;
        align-items: center;
        height: $menuItemHeight;
        cursor: pointer;
    }

    .nav-item {
        transition: all 0.3s ease-out 0s;

        &:hover {
            color: $menuHover;
        }

        &.active {
            color: #fff;
            background-color: $menuHover;
        }
    }

    >.nav-sub {
        >.nav-title {
            position: relative;
            padding: 0 20px;

            &:after {
                position: absolute;
                z-index: 2;
                top: 50%;
                right: 20px;
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-right: 1px solid #555;
                border-bottom: 1px solid #555;
                transform: translateY(-50%) rotate(45deg);
                transition: transform 0.3s ease-out 0s;
            }
        }
    }

    &.section-menu-sub {
        >.nav-item {
            padding: 0 20px;
        }

        >.nav-sub {
            >.section-menu-sub {
                >.nav-item {
                    padding: 0 20px 0 40px;
                }

                >.nav-sub {
                    >.nav-title {
                        position: relative;
                        padding: 0 20px 0 40px;

                        &:after {
                            position: absolute;
                            z-index: 2;
                            top: 50%;
                            right: 20px;
                            content: '';
                            display: block;
                            width: 6px;
                            height: 6px;
                            border-right: 1px solid #555;
                            border-bottom: 1px solid #555;
                            transform: translateY(-50%) rotate(45deg);
                            transition: transform 0.3s ease-out 0s;
                        }
                    }

                    >.section-menu-sub {
                        >.nav-item {
                            padding: 0 20px 0 60px;
                        }
                    }
                }
            }
        }
    }
}

.menu-list {
    >.nav-menu {
        .nav-item {
            cursor: pointer;
        }

        >.nav-sub {
            >.nav-menu {
                >.nav-item {
                    padding-left: 40px;
                }
            }

            >.nav-title {
                position: relative;

                &:after {
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    right: 20px;
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: translateY(-50%) rotate(-45deg);
                    transition: transform 0.3s ease-out 0s;
                }

                &:hover {
                    &:after {
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
            }
        }
    }
}

.section-pagination {
    padding: 20px 0;
    margin-right: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hw-label {
    display: flex;
    flex-direction: row;

    .hw-label-item {
        flex: 1;
        display: flex;
        align-items: center;

        .hw-label-title {
            width: 6em;
        }
    }

    &+.hw-label {
        padding-top: 10px;
    }

    &.align-right {
        .hw-label-title {
            text-align: right;
        }
    }

    &.align-center {
        .hw-label-title {
            text-align: center;
        }
    }
}

.hw-quill-editor {
    .ql-container {
        height: 300px;
    }

    .ql-toolbar {
        line-height: 1.5;
    }
}

.hw-dialog {
    position: fixed;
    z-index: 188;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .dialog__wrapper {
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(#000, 0.6);
    }

    .dialog__main {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 50%;
        max-height: 98%;
        max-width: 98%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 6px;
    }

    .dialog__head {
        padding: 10px 20px;
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item__title {
            font-size: 18px;
            font-weight: 600;
        }

        .item__close {
            cursor: pointer;
        }
    }

    .dialog__body {
        margin: 20px 0;
        padding: 0 20px;
        flex: 1;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .dialog__foot {
        padding: 0 20px 20px;
    }
}

.app-breadcrumb {
    &.el-breadcrumb {
        height: 0.96rem;
        line-height: 48px;
        padding: 0 15px;
        border-bottom: 1px solid #ccc;

        .no-redirect {
            color: #999;
            cursor: text;
        }

        .el-breadcrumb__inner {
            color: #333;
        }

        .el-breadcrumb__separator {
            color: #999;
        }
    }
}

.article-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-main {
        width: 300px;
    }

    .section-thead {
        font-size: 24px;
    }

    .btn-submit {
        display: block;
        width: 100%;
        text-align: center;
    }

    .org-select {
        width: 100%;
    }
}

.layout-404 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item-title {
        font-size: 96px;
    }
}

.layout-root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $bgColor;
}
