/**
 * @author: wenhao.huang
 * @date:   2017/12/24
 * @module:
 */
@import 'mixin';

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row,
.flex-column {
    .flex-bd {
        flex: 1;
    }
}

// flex
$Justify: start end center between around;
$Align: start end center;

@each $justify in $Justify {
    $justifyItem: 'flex-start';

    @if ($justify=='end') {
        $justifyItem: 'flex-end';
    }

    @else if ($justify=='center') {
        $justifyItem: 'center';
    }

    @else if ($justify=='between') {
        $justifyItem: 'space-between';
    }

    @else if ($justify=='around') {
        $justifyItem: 'space-around';
    }

    @each $align in $Align {
        $alignItem: 'flex-start';

        @if ($align=='end') {
            $alignItem: 'flex-end';
        }

        @else if ($align=='center') {
            $alignItem: 'center';
        }

        .flex-#{$justify}-#{$align} {
            justify-content: #{$justifyItem};
            align-items: #{$alignItem};
        }
    }
}

// margin padding 留白设置
$gutterType: margin padding;
$direction: top right bottom left;

@each $GT in $gutterType {
    $type: 'm';

    @if ($GT=='padding') {
        $type: 'p';
    }

    @each $dir in $direction {
        $D: 't';

        @if ($dir=='right') {
            $D: 'r';
        }

        @else if ($dir=='bottom') {
            $D: 'b';
        }

        @else if ($dir=='left') {
            $D: 'l';
        }

        @for $i from 0 to 11 {
            @if ($i==0) {
                .#{$type}#{$D} {
                    @include gutter($GT, $dir, $i);
                }
            }

            @else {
                .#{$type}#{$D}#{$i*10} {
                    @include gutter($GT, $dir, $i);
                }
            }
        }
    }
}
