/**
 * @author: wenhao.huang
 * @date:   2018/12/20
 * @module:
 */
@import 'var';

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-xs {
    font-size: 0.24rem;
}

.text-sm {
    font-size: 0.28rem;
}

.text-md {
    font-size: 0.32rem;
}

.text-lg {
    font-size: 0.36rem;
}
