/**
 * @Author: huangwenhao
 * @Date: 2018-12-26 23:25:21
 * @LastEditors: huangwenhao
 * @LastEditTime: 2019-02-12 00:56:30
 * @Description: style.css
 */
@import "normalize";
@import "var";
@import "mixin";
@import "basic";
@import "layout";
@import "color";
@import "text";
@import "button";
@import "transition";
@import "nprogress";
@import "common";

// svg 样式
.sn-icon {
    font-size: 14px;
    line-height: 1;
    color: #333;
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
    vertical-align: -0.15em;
}

// 页面通用查询操作栏
.layout-main {
    >.pages-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 15px;

        &+.pages-main {
            border-top: 1px solid #ebeef5;
            padding-top: 15px;
            padding-bottom: 20px;
        }

        .bar-main,
        .bar-aside {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .bar-xs {
            width: 50px;
        }

        .bar-sm {
            width: 100px;
        }

        .bar-md {
            width: 150px;
        }

        .bar-lg {
            width: 200px;
        }

        .bar-llg {
            width: 360px;
        }

        .label-xs {
            width: 5em;
        }

        .label-sm {
            width: 8em;
        }

        .label-md {
            width: 10em;
        }
    }
}

// el-table设置
.hw-table {
    width: 100%;

    .el-table__header {

        td,
        th {
            background-color: #f0f0f0;
        }
    }
}

.table-border {
    border-collapse: collapse;
    border: 1px solid #e0e0e0;

    th,
    td {
        padding: 5px 10px;
        border: 1px solid #e0e0e0;
        font-weight: normal;
    }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 100%;
}

.el-select {
    display: block;
}

// 宽度铺满
.block-box {
    width: 100% !important;
}

// tabs标签
.hw-tabs {
    display: flex;

    .tab {
        padding: 10px 12px;
        border: 1px solid #e0e0e0;
        transition: all 0.28s ease-out 0s;
        cursor: pointer;

        &+.tab {
            border-left: 0;
        }

        &:hover {
            color: $menuHover;
        }

        &.active {
            color: #fff;
            border-color: $menuHover;
            background-color: $menuHover;
            cursor: default;
        }
    }
}

.cell-org {
    .el-select-dropdown__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .item-type {
            color: #999;
            font-size: 12px;
        }
    }
}

.layout-main {
    position: relative;

    .amap-box {
        width: 100%;
        height: 100%;
    }
}

// 消火栓GIS分布
.layout-map {

    color: #fff;

    // 市政消火栓
    .marker-fh {
        margin: 0 auto;
        width: 32px;
        height: 40px; // transform: translate(-17px, 0);
        background: transparent url(~assets/icon-fh.png) scroll center top no-repeat;

        &.bad-fh {
            background-image: url(~assets/icon-fh-o.png);
        }
    }

    // 微型消防站
    .marker-mfs {
        margin: 0 auto;
        width: 34px;
        height: 42px; // transform: translate(-17px, 0);
        background: transparent url(~assets/icon-mfs.png) scroll center top no-repeat;

        &.bad-mfs {
            background-image: url(~assets/icon-mfs-o.png);
        }
    }

    .section-detail {
        position: absolute;
        z-index: 9;
        left: 50%;
        top: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translate(-50%, -50%);
        display: flex;

        .btn-close {
            position: absolute;
            right: 0;
            top: 0;
            color: #fff;
            transform: translate(20%, -20%);
            cursor: pointer;
        }

        .item-thumb {
            width: 120px;
        }

        .fh-detail {
            padding: 10px;
            width: 300px;
            border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .item-fh {
            padding-left: 3em;
            text-indent: -3em;

            .label {
                width: 3em;
                color: #11feda;
            }

            &.danger {
                color: $danger;

                .label {
                    color: $danger;
                }
            }
        }
    }
}

// 物联网感知 - 设施设备运行管理 - 设施设备告警统计
.page-alarm {
    .section-total {
        display: flex;
    }

    .aside-total {
        flex: 1;
        color: #fff;
        border-radius: 6px;
        background-color: $danger;
        overflow: hidden;

        .item-state {
            padding: 8px 10px 0;
        }

        .item-count {
            text-align: center;
            font-size: 48px;
        }

        .item-total {
            padding: 4px 10px;
            display: flex;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.4);
        }

        &+.aside-total {
            margin-left: 15px;
        }

        &:nth-child(4n+2) {
            background-color: rgb(245, 122, 108);
        }

        &:nth-child(4n+3) {
            background-color: rgb(245, 140, 108);
        }

        &:nth-child(4n+4) {
            background-color: rgb(245, 156, 108);
        }
    }
}

.section-chart-line {
    overflow: hidden;
}

// 维护保养检测统计
.page-maintain {
    .section-total {
        display: flex;
    }

    .aside-total {
        flex: 1;
        color: #fff;
        border-radius: 6px;
        background-color: $success;
        overflow: hidden;

        .item-state {
            padding: 8px 10px 0;
        }

        .item-count {
            text-align: center;
            font-size: 48px;
        }

        .item-total {
            padding: 4px 10px;
            display: flex;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.4);
        }

        &+.aside-total {
            margin-left: 15px;
        }

        &:nth-child(4n+2) {
            background-color: rgb(66, 180, 115);
        }

        &:nth-child(4n+3) {
            background-color: rgb(66, 180, 145);
        }

        &:nth-child(4n+4) {
            background-color: rgb(66, 180, 175);
        }
    }
}

.minisite-baseinfo {
    .hw-table {
        th {
            width: 180px;
            padding: 12px 15px;
            text-align: right;
        }
    }
}
