/**
 * @Author: huangwenhao
 * @Date: 2018-12-26 23:25:21
 * @LastEditors: huangwenhao
 * @LastEditTime: 2019-02-23 18:37:19
 * @Description: style.css
 */
@import "normalize";
@import "var";
@import "mixin";
@import "basic";
@import "layout";
@import "color";
@import "text";
@import "button";
@import "transition";
@import "nprogress";
@import "common";

// svg 样式
.sn-icon {
    font-size: 14px;
    line-height: 1;
    color: #333;
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
    vertical-align: -0.15em;
}

// 页面通用查询操作栏
.layout-main {
    >.pages-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 15px;

        &+.pages-main {
            border-top: 1px solid #ebeef5;
            padding-top: 15px;
            padding-bottom: 20px;
        }

        .bar-main,
        .bar-aside {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .bar-xs {
            width: 50px;
        }

        .bar-sm {
            width: 100px;
        }

        .bar-md {
            width: 150px;
        }

        .bar-lg {
            width: 200px;
        }

        .bar-llg {
            width: 360px;
        }

        .label-xs {
            width: 5em;
        }

        .label-sm {
            width: 8em;
        }

        .label-md {
            width: 10em;
        }
    }
}

// 宽度铺满
.block-box {
    width: 100% !important;
}
